:root {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(15, 11, 31);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.main {
  margin: 0 auto;
  max-width: 50%;
  color: white;
  animation: fadeIn 1.2s ease-in;
}
