.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, black, transparent);
    z-index: 1000; 
    box-sizing: border-box;
    padding: 0 100px;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.nav-ul {
    display: flex;
    gap: 40px;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

.nav-a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-a:hover {
    color: #fdff00;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
}

.hamburger span {
    display: block;
    height: 3px;
    background: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


