.technologies-section {
    padding: 60px 0;
}

.tecnhologies-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
}

.technologies-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.technologies-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 26px;
        padding: 50px 0;
        place-content: center;
}


/* Large screens */
@media (min-width: 1200px) {
    .technologies-section {
        padding: 80px 0;
    }
    
    .tecnhologies-title {
        font-size: 42px;
    }
    
    .technologies-section p {
        font-size: 20px;
    }
    
}

@media (max-width: 1024px) {
    .technologies-container {
        grid-template-columns: repeat(1, 80%);
        gap: 16px;
        padding: 20px 0;
    }

    .skills { 
        height: 600px;
    }
    
    .skills h1 {
        font-size: 38px;
    }

    .skills ul {
        max-width: 100%;
    }

    .skill-img {
        width: 70px;
        height: 70px;
    }

    .skill-title {
        font-size:  30px;
    }

}

@media (max-width: 768px) {
    .technologies-container {
        grid-template-columns: 1fr;
        gap: 16px;
        padding: 20px 0;
    }
}